.items, th, td {
    border: 2px solid black;
    padding: 0;
    margin: auto;
}
th {
    width: 42px;
    height: 42px;
}
.image-item {
    width: 42px;
    height: 42px;
}
.image-character {
    width: 65px;
    height: 65px;
}
.text-power{
    font-size: x-small;
}
.div-items{
    align-self: center;
}
.div-character{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.event-buttons{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

@media only screen and (max-width: 1200px) {

}
@media only screen and (min-width: 1200px) {

}
@media only screen and (max-width: 1100px) {
    .eventImage{
        width: 200px;
    }
}
@media only screen and (max-width: 1000px) {
    .eventImage{
        width: 200px;
    }
}
@media only screen and (max-width: 800px) {
    .eventImage{
        width: 150px;
    }
}


